@if (filteredProducts$ | async; as products) {
@if (products.length > 0) {
<section id="gallery" class="section gallery-section">
    <div class="container">
        <h2 class="h2 text-center">Créations</h2>
        <p class="text-lead text-center">Découvrez l'ensemble de mon savoir-faire artisanal.</p>

        <div class="filters text-center mb-4">
            <button class="filter-btn" [class.active]="currentFilter === 'Tous'"
                (click)="filterProducts('Tous')">Tous</button>
            @for (cat of categories$ | async; track cat.id) {
            <button class="filter-btn" [class.active]="currentFilter === cat.name" (click)="filterProducts(cat.name)">{{
                cat.name }}</button>
            }
        </div>

        <div class="product-grid">
            @for (product of products; track product.id) {
            <div class="product-card" [routerLink]="['/product', product.id]">
                <div class="image-wrapper">
                    @if (product.badge) {
                    <div class="badge" [ngClass]="product.badgeColor">{{ product.badge }}</div>
                    }
                    <img [src]="product.image" [alt]="product.type">
                </div>
                <div class="product-info">
                    @if (categories$ | async; as cats) {
                    @let color = getCategoryColor(product.category, cats);
                    <span class="category-badge" [style.background-color]="color"
                        [style.color]="productService.getContrastColor(color)">
                        {{ product.category }}
                    </span>
                    }
                    <small class="brand">{{ product.brand }}</small>
                    <h3 class="product-name">{{ product.type }}</h3>
                    @if (product.price) {
                    <div class="price">{{ product.price }} {{ product.price.includes('€') ? '' : '€' }}</div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</section>
}
}